@media all and (min-width: 480px) {
    .ResetPassword, .ConfirmPassword {
      padding: 60px 0;
    }
  
    .ResetPassword, .ConfirmPassword  form {
      margin: 0 auto;
      max-width: 320px;
    }
  
    .ResetPassword, .ConfirmPassword  .success {
      max-width: 400px;
    }
}
  
  .ResetPassword, .ConfirmPassword  .success {
    margin: 0 auto;
    text-align: center;
  }
  .ResetPassword, .ConfirmPassword  .success {
    color: grey;
    font-size: 30px;
    margin-bottom: 30px;
  }
  